<template>
  <div>
    <div class="box space-card">
      <p class="title">
        Descuento Único
      </p>
      <div class="columns">
        <div class="column">
          <div class="columns">
            <div class="column is-4">
              <b-field
                label="Precio de mercado"
                :label-position="labelPosition"
              >
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="precio1"
                >
                </b-input>
              </b-field>
            </div>
            <div class="column is-4">
              <b-field label="Precio pagado" :label-position="labelPosition">
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="precio2"
                >
                </b-input>
              </b-field>
            </div>
            <div class="column is-4">
              <b-button
                v-if="!blockCalcular"
                type="is-primary"
                expanded
                @click="calcular"
                >CALCULAR</b-button
              >
              <b-button v-else type="is-danger" expanded @click="reset"
                >RESET</b-button
              >
            </div>
          </div>

          <div>
            <p class="title is-5">
              Tasa de descuento único: {{ tasa1 | x100 | round4 }} %
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { calcularTasaDescuentoUnico } from '../services/index.js'

export default {
  data() {
    return {
      selected: new Date(),
      showWeekNumber: false,
      locale: undefined,
      labelPosition: 'on-border',
      periodos: [
        { text: 'n/a', id: 0, m: 0 },
        { text: 'Años', id: 1, m: 1 },
        { text: 'Semestres', id: 2, m: 2 },
        { text: 'Cuatrimetres', id: 3, m: 3 },
        { text: 'Trimestres', id: 4, m: 4 },
        { text: 'Bimestres', id: 5, m: 6 },
        { text: 'Meses', id: 6, m: 12 },
        { text: 'Quincenas', id: 7, m: 24 },
        { text: 'Semanas', id: 8, m: 52 },
        { text: 'Días Exactos', id: 9, m: 365 },
        { text: 'Días Aproximados', id: 10, m: 360 },
      ],
      tipos_interes: [
        { text: 'Simple Ordinario', id: 1 },
        { text: 'Exacto', id: 2 },
        { text: 'Bancario', id: 3 },
      ],

      precio1: 0,
      precio2: 0,
      tasa1: 0,
    }
  },
  methods: {
    async calcular() {
      this.blockCalcular = true
      this.tasa1 = await calcularTasaDescuentoUnico(this.precio1, this.precio2)
    },
  },
}
</script>

<style scoped>
.space-card {
  margin: 0 10% 5% 10%;
}
</style>
