<template>
  <div>
    <div class="box space-card">
      <p class="title">
        Inv Conf T Datos
      </p>
      <div class="columns">
        <div class="column is-4">
          <img src="img/invconftdatos.png" alt="" />
        </div>
        <!-- <div class="column is-4">
          <img src="img/invconfproporcionfinita2.png" alt="" />
        </div> -->
      </div>
      <div class="columns">
        <div class="column">
          <div class="columns" v-for="(item, index) in datos" :key="index">
            <div class="column is-1">
              <b-field label="Nro." :label-position="labelPosition">
                <p class="title is-5">{{ index + 1 }}</p>
              </b-field>
            </div>
            <div class="column is-2">
              <b-field label="Dato" :label-position="labelPosition">
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="datos[index]"
                >
                </b-input>
              </b-field>
            </div>

            <div class="column is-2" v-show="index == datos.length - 1">
              <b-button
                expanded
                icon-left="plus-circle"
                icon-pack="fas"
                type="is-success"
                @click="addDatos()"
              >
                Añadir
              </b-button>
            </div>
          </div>

          <div class="columns">
            <div class="column is-4">
              <b-field
                label="Nivel de Confianza"
                :label-position="labelPosition"
              >
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="nivelConfianza"
                >
                </b-input>
              </b-field>
            </div>
            <div class="column is-8">
              <b-button
                v-if="!blockCalcular"
                type="is-primary"
                expanded
                @click="calcular"
                >CALCULAR</b-button
              >
              <b-button v-else type="is-danger" expanded @click="reset"
                >RESET</b-button
              >
            </div>
            <!-- <div class="column is-4">
              <b-field label="p" :label-position="labelPosition">
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="p"
                >
                </b-input>
              </b-field>
            </div>
            <div class="column is-4">
              <b-field label="m" :label-position="labelPosition">
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="n"
                >
                </b-input>
              </b-field>
            </div> -->
          </div>

          <div class="columns">
            <!-- <div class="column is-4">
              <b-field label="n" :label-position="labelPosition">
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="n"
                >
                </b-input>
              </b-field>
            </div> -->
            <!-- <div class="column is-4">
              <b-field label="N" :label-position="labelPosition">
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="N"
                >
                </b-input>
              </b-field>
            </div> -->
            <!-- <div class="column is-8">
              <b-button type="is-primary" expanded @click="calcular"
                >CALCULAR</b-button
              >
            </div> -->
          </div>

          <div>
            <!-- <p class="title is-5">Z: {{ Z | round4 }}</p> -->
            <p class="title is-5">
              Desviación Estandar: {{ desviacionEst | round4 }}
            </p>
            <p class="title is-5">Promedio: {{ promedio | round4 }}</p>
            <p class="title is-5">n: {{ n | round4 }}</p>
            <p class="title is-5">
              Error Estandar: {{ errorEstandar | round4 }}
            </p>
            <p class="title is-5">
              Grado Libertad: {{ gradoLibertad | round4 }}
            </p>
            <p class="title is-5">t: {{ t | round4 }}</p>
            <p class="title is-5">
              Error Muestral: {{ errorMuestral | round4 }}
            </p>
            <!-- <p class="title is-5">
              Factor de Corrección: {{ factorCorreccion | round4 }}
            </p> -->
            <p class="title is-5">
              Limite Inferior: {{ limiteInferior | round4 }}
            </p>
            <p class="title is-5">
              Limite Superior: {{ limiteSuperior | round4 }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  calcularDivision,
  calcularInteresesDos as calcularResta,
  calcularInvT,
  calcularInvNormEstand,
  calcularZCalculado,
  calcularPromedioArray,
  calcularDesviacionMuestral,
  calcularVarianzaMedias,
  calcularZCalculadoDosMedias,
  calcularPromedioArrayJson,
  calcularVarianzaConjunta,
  calcularTCalculadoDosMedias,
  calcularSuma,
  calcularGradoLibertadDif,
  calcularTCalculadoDosMediasDif,
  calcularInvNormEstandEstDes,
  calcularNEstDes,
  calcularNEstPro,
  calcularErrorEstandarEnvConfMediaZ,
  calcularTiempoOcupaFuturo as calcularMultiplicacion,
  calcularFactorCorreccionInvConfZMediaFinita,
  calcularErrorEstandarEnvConfZProporcion,
  calcularDesvEstandar,
  calcularInvT2C,
  calcularRaiz,
} from '../services/index.js'

export default {
  data() {
    return {
      labelPosition: 'on-border',
      periodos: [
        { text: 'n/a', id: 0, m: 0 },
        { text: 'Años', id: 1, m: 1 },
        { text: 'Semestres', id: 2, m: 2 },
        { text: 'Cuatrimetres', id: 3, m: 3 },
        { text: 'Trimestres', id: 4, m: 4 },
        { text: 'Bimestres', id: 5, m: 6 },
        { text: 'Meses', id: 6, m: 12 },
        { text: 'Quincenas', id: 7, m: 24 },
        { text: 'Semanas', id: 8, m: 52 },
        { text: 'Días Exactos', id: 9, m: 365 },
        { text: 'Días Aproximados', id: 10, m: 360 },
      ],
      tipos_interes: [
        { text: 'Simple Ordinario', id: 1 },
        { text: 'Exacto', id: 2 },
        { text: 'Bancario', id: 3 },
      ],
      colas: [
        { id: 1, text: 'Cola Derecha' },
        { id: 2, text: 'Cola Izquierda' },
        { id: 3, text: 'Dos Colas' },
      ],
      lista: [0],
      datos: [0],

      nivelConfianza: 0,
      media: 0,
      desviacionEst: null,
      n: null,
      p: 0,
      N: 0,

      Z: null,
      errorEstandar: null,
      errorMuestral: null,
      factorCorreccion: null,
      limiteSuperior: null,
      limiteInferior: null,
      promedio: null,
      t: null,
      gradoLibertad: null,
    }
  },
  methods: {
    async calcular() {
      this.blockCalcular = true
      this.desviacionEst = calcularDesvEstandar(this.datos)

      this.promedio = calcularPromedioArray(this.datos)

      this.n = this.datos.length

      this.errorEstandar = calcularDivision(
        this.desviacionEst,
        calcularRaiz(this.n)
      )

      this.gradoLibertad = calcularResta(this.n, 1)

      this.t = calcularInvT2C(
        calcularResta(1, calcularDivision(this.nivelConfianza, 100)),
        calcularResta(this.n, 1)
      )

      this.errorMuestral = calcularMultiplicacion(this.t, this.errorEstandar)

      // this.factorCorreccion = calcularFactorCorreccionInvConfZMediaFinita(
      //   this.n,
      //   this.N
      // )
      this.limiteInferior = calcularResta(this.promedio, this.errorMuestral)
      this.limiteSuperior = calcularSuma(this.promedio, this.errorMuestral)
    },
    addDatos() {
      this.datos.push(null)
    },
  },
}
</script>

<style scoped>
.space-card {
  margin: 0 10% 5% 10%;
}
</style>
