<template>
  <div>
    <div class="box space-card">
      <p class="title">
        Periodo
      </p>
      <!-- <div class="columns">
        <div class="column is-4">
          <img src="img/distcont3.png" alt="" />
        </div>
        <div class="column is-4">
          <img src="img/distcont4.png" alt="" />
        </div>
      </div> -->
      <div class="columns">
        <div class="column">
          <div class="columns">
            <div class="column is-3">
              <b-field
                label="Valor presente (PV)"
                :label-position="labelPosition"
              >
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="valorPresente"
                >
                </b-input>
              </b-field>
            </div>
            <div class="column is-3">
              <b-field
                label="Valor futuro (FV)"
                :label-position="labelPosition"
              >
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="valorFuturo"
                >
                </b-input>
              </b-field>
            </div>
            <div class="column is-3">
              <b-field
                label="Periodo capitalizable (m)"
                :label-position="labelPosition"
              >
                <!-- <b-input type="number" step="0.01"  placeholder="9" v-model="periodoN">
                </b-input> -->
                <b-select
                  placeholder="Selecciona un tipo"
                  expanded
                  v-model="periodoC"
                >
                  <option
                    :value="item.id"
                    v-for="(item, index) in periodosC"
                    :key="index"
                    >{{ item.text }}</option
                  >
                </b-select>
              </b-field>
            </div>

            <div class="column is-3">
              <b-field
                label="Tasa interés nominal (J)"
                :label-position="labelPosition"
              >
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="i1"
                >
                </b-input>
              </b-field>
            </div>
          </div>

          <div class="columns">
            <div class="column is-12">
              <b-button
                v-if="!blockCalcular"
                type="is-primary"
                expanded
                @click="calcular"
                >CALCULAR</b-button
              >
              <b-button v-else type="is-danger" expanded @click="reset"
                >RESET</b-button
              >
            </div>
          </div>

          <div>
            <hr />

            <p class="title is-5">Periodo capitalizable (m): {{ res1 }}</p>
            <p class="title is-5">Tasa interés: {{ res2 | round }} %</p>
            <p class="title is-5">
              Números de periodos (n=mt): {{ res3 | round }}
            </p>
            <p class="title is-5">Tiempo (años): {{ res4 | round }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  calcularDivision,
  calcularInteresesDos as calcularResta,
  calcularInvT,
  calcularInvNormEstand,
  calcularZCalculado,
  calcularPromedioArray,
  calcularDesviacionMuestral,
  calcularVarianzaMedias,
  calcularZCalculadoDosMedias,
  calcularPromedioArrayJson,
  calcularVarianzaConjunta,
  calcularTCalculadoDosMedias,
  calcularSuma,
  calcularGradoLibertadDif,
  calcularTCalculadoDosMediasDif,
  calcularInvNormEstandEstDes,
  calcularNEstDes,
  calcularNEstPro,
  calcularErrorEstandarEnvConfMediaZ,
  calcularTiempoOcupaFuturo as calcularMultiplicacion,
  calcularFactorCorreccionInvConfZMediaFinita,
  calcularErrorEstandarEnvConfZProporcion,
  calcularRaiz,
  calcularBinomialList,
  calcularBinomialTablePx,
  calcularBinomialIntervalos,
  calcularHiperGeometrica,
  calcularPoissonList,
  calcularPoisson,
  calcularPoissonIntervalos,
  calcularDistNormal,
  calcularDistNormalEstandar,
  calcularDistNormalInv,
  calcularPeriodo,
  calcularPorcentajeSuma,
} from '../services/index.js'

export default {
  data() {
    return {
      labelPosition: 'on-border',
      periodos: [
        { text: 'Años', id: 1, m: 1 },
        { text: 'Semestres', id: 2, m: 2 },
        { text: 'Cuatrimetres', id: 3, m: 3 },
        { text: 'Trimestres', id: 4, m: 4 },
        { text: 'Bimestres', id: 5, m: 6 },
        { text: 'Meses', id: 6, m: 12 },
        { text: 'Quincenas', id: 7, m: 24 },
        { text: 'Semanas', id: 8, m: 52 },
        { text: 'Días Exactos', id: 9, m: 365 },
        { text: 'Días Aproximados', id: 10, m: 360 },
      ],
      periodosC: [
        { text: 'Anual', id: 1, m: 1 },
        { text: 'Semestral', id: 2, m: 2 },
        { text: 'Cuatrimestral', id: 3, m: 3 },
        { text: 'Trimestral', id: 4, m: 4 },
        { text: 'Bimestral', id: 5, m: 6 },
        { text: 'Mensual', id: 6, m: 12 },
        { text: 'Quincenal', id: 7, m: 24 },
        { text: 'Semanal', id: 8, m: 52 },
        { text: 'Diario Exacto', id: 9, m: 365 },
        { text: 'Diario Aproximado', id: 10, m: 360 },
      ],
      tipos_interes: [
        { text: 'Simple Ordinario', id: 1 },
        { text: 'Exacto', id: 2 },
        { text: 'Bancario', id: 3 },
      ],
      colas: [
        { id: 1, text: 'Cola Derecha' },
        { id: 2, text: 'Cola Izquierda' },
        { id: 3, text: 'Dos Colas' },
      ],
      binomials: [
        { text: 'Exactamente x', id: 0, m: 0.387420489 },
        { text: 'Al menos x', id: 1, m: 0.387420489 },
        { text: 'x o más', id: 2, m: 0.387420489 },
        { text: 'A lo más x', id: 3, m: 0.387420489 },
        { text: 'No más de x', id: 4, m: 1 },
        { text: 'Menos de x', id: 5, m: 0.612579511 },
        { text: 'Más de x', id: 6, m: 0 },
        { text: 'A lo sumo x', id: 7, m: 1 },
        { text: 'A lo menos x', id: 8, m: 0.387420489 },
        { text: 'x o menos', id: 9, m: 1 },
        { text: 'Por lo menos x', id: 10, m: 0.387420489 },
        { text: 'Ninguno', id: 11, m: 1e-9 },
        { text: 'Todos', id: 12, m: 0.387420489 },
      ],
      lista: [0],
      datos: [0],
      listProb: [
        {
          x: null,
          fx: null,
          px: null,
          xpx: null,
          xu: null,
          xu2: null,
          xu2px: null,
        },
      ],
      dataBinom: [],
      dataHiperg: [],
      dataPoisson: [],

      valorFuturo: 0,
      nivelConfianza: 0,
      media: 0,
      desviacionEst: 0,
      valorPresente: 0,
      n: 0,
      p: 0,
      N: 0,
      S: 0,
      px: 0,
      fx: 0,
      varianza: 0,
      periodoC: 1,
      //2
      valorVencimiento2: 0,
      tasa2: 0,
      periodoN1: 0,
      periodoN2: 0,
      periodoN3: 0,
      periodo1: 1,
      periodo2: 1,
      periodo3: 1,
      tiempo2: 0,
      cantNeta2: 0,
      descuento2: 0,
      x: 0,
      binom: 0,
      i1: null,
      i2: null,
      binomName: null,
      binomValue: null,
      binom1: null,
      binom2: null,
      hiperg: null,
      mediaRes: 0,
      poi1: null,
      poi2: null,
      xi: 0,
      xs: 0,
      cola: 0,
      X: 0,
      muestra: 0,

      Z: null,
      errorEstandar: null,
      errorEstandar2: null,
      errorMuestral: null,
      factorCorreccion: null,
      limiteSuperior: null,
      limiteInferior: null,
      promedio: 0,
      t: null,
      gradoLibertad: null,

      valorz: null,
      prob: null,
      valorzi: null,
      valorzs: null,
      probai: null,
      probas: null,
      probT: null,

      res1: null,
      res2: null,
      res3: null,
      res4: null,
      res5: null,
      res6: null,
      res7: null,
    }
  },
  methods: {
    async calcular() {
      this.blockCalcular = true
      // let r1 = await calcularPeriodo(
      //   this.periodos.find((p) => p.id == this.periodo1).m,
      //   this.periodoN1
      // )
      // let r2 = await calcularPeriodo(
      //   this.periodos.find((p) => p.id == this.periodo2).m,
      //   this.periodoN2
      // )
      // let r3 = await calcularPeriodo(
      //   this.periodos.find((p) => p.id == this.periodo3).m,
      //   this.periodoN3
      // )
      // this.res1 = r1 + r2 + r3

      this.res1 = this.periodosC.find((p) => p.id == this.periodoC).m

      this.res2 = this.i1 / this.res1

      this.res3 =
        Math.log(this.valorFuturo / this.valorPresente) /
        Math.log(calcularPorcentajeSuma(1, this.res2))

      this.res4 = this.res3 / this.res1
    },
    addListProb() {
      this.listProb.push({
        x: null,
        fx: null,
        px: null,
        xpx: null,
        xu: null,
        xu2: null,
        xu2px: null,
      })
    },
  },
}
</script>

<style scoped>
.space-card {
  margin: 0 10% 5% 10%;
}
</style>
