<template>
  <div>
    <div class="box space-card">
      <p class="title">
        Ingreso Mixto - Valor Futuro
      </p>
      <!-- <div class="columns">
        <div class="column is-4">
          <img src="img/distcont3.png" alt="" />
        </div>
        <div class="column is-4">
          <img src="img/distcont4.png" alt="" />
        </div>
      </div> -->
      <div class="columns">
        <div class="column">
          <div class="columns">
            <div class="column is-3">
              <b-field
                label="tasa interés nominal (J)"
                :label-position="labelPosition"
              >
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="i1"
                >
                </b-input>
              </b-field>
            </div>
            <div class="column is-3">
              <b-field
                label="Periodo capitalizable (m)"
                :label-position="labelPosition"
              >
                <b-select
                  placeholder="Selecciona un tipo"
                  expanded
                  v-model="pc"
                >
                  <option
                    :value="item.id"
                    v-for="(item, index) in periodosC"
                    :key="index"
                    >{{ item.text }}</option
                  >
                </b-select>
              </b-field>
            </div>
            <div class="column is-3">
              <b-field
                label="Numero periodo (n)"
                :label-position="labelPosition"
              >
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="nroP"
                >
                </b-input>
              </b-field>
            </div>
          </div>

          <div class="columns">
            <div class="column is-2">
              <b-field label="Monto Nro.1" :label-position="labelPosition">
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="ingresosMixtos[0]"
                >
                </b-input>
              </b-field>
            </div>
            <div class="column is-2">
              <b-field label="Monto Nro.2" :label-position="labelPosition">
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="ingresosMixtos[1]"
                >
                </b-input>
              </b-field>
            </div>
            <div class="column is-2">
              <b-field label="Monto Nro.3" :label-position="labelPosition">
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="ingresosMixtos[2]"
                >
                </b-input>
              </b-field>
            </div>
            <div class="column is-2">
              <b-field label="Monto Nro.4" :label-position="labelPosition">
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="ingresosMixtos[3]"
                >
                </b-input>
              </b-field>
            </div>
            <div class="column is-2">
              <b-field label="Monto Nro.5" :label-position="labelPosition">
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="ingresosMixtos[4]"
                >
                </b-input>
              </b-field>
            </div>
            <div class="column is-2">
              <b-field label="Monto Nro.6" :label-position="labelPosition">
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="ingresosMixtos[5]"
                >
                </b-input>
              </b-field>
            </div>
          </div>

          <div class="columns">
            <div class="column is-2">
              <b-field label="Monto Nro.7" :label-position="labelPosition">
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="ingresosMixtos[6]"
                >
                </b-input>
              </b-field>
            </div>
            <div class="column is-2">
              <b-field label="Monto Nro.8" :label-position="labelPosition">
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="ingresosMixtos[7]"
                >
                </b-input>
              </b-field>
            </div>
            <div class="column is-2">
              <b-field label="Monto Nro.9" :label-position="labelPosition">
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="ingresosMixtos[8]"
                >
                </b-input>
              </b-field>
            </div>
            <div class="column is-2">
              <b-field label="Monto Nro.10" :label-position="labelPosition">
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="ingresosMixtos[9]"
                >
                </b-input>
              </b-field>
            </div>
            <div class="column is-2">
              <b-field label="Monto Nro.11" :label-position="labelPosition">
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="ingresosMixtos[10]"
                >
                </b-input>
              </b-field>
            </div>
            <div class="column is-2">
              <b-field label="Monto Nro.12" :label-position="labelPosition">
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="ingresosMixtos[11]"
                >
                </b-input>
              </b-field>
            </div>
          </div>

          <div class="columns">
            <div class="column is-12">
              <b-button
                v-if="!blockCalcular"
                type="is-primary"
                expanded
                @click="calcular"
                >CALCULAR</b-button
              >
              <b-button v-else type="is-danger" expanded @click="reset"
                >RESET</b-button
              >
            </div>
          </div>

          <div>
            <hr />
            <p class="title is-5">periodo capitalizable (m): {{ res1 }}</p>
            <p class="title is-5">Interes: {{ res2 | round }} %</p>
            <p class="title is-5">Valor Actual: {{ res3 | round4 }}</p>
            <hr />
            <div v-for="(ri, index) in resIngresosMixtos" :key="index">
              <p class="title is-5">Periodo Nro. {{ index + 1 }}</p>
              <p class="title is-6">Monto: {{ ingresosMixtos[index] }}</p>
              <p class="title is-6">traslado valor presente: {{ ri }}</p>
              <hr />
              <hr />
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  calcularDivision,
  calcularInteresesDos as calcularResta,
  calcularInvT,
  calcularInvNormEstand,
  calcularZCalculado,
  calcularPromedioArray,
  calcularDesviacionMuestral,
  calcularVarianzaMedias,
  calcularZCalculadoDosMedias,
  calcularPromedioArrayJson,
  calcularVarianzaConjunta,
  calcularTCalculadoDosMedias,
  calcularSuma,
  calcularGradoLibertadDif,
  calcularTCalculadoDosMediasDif,
  calcularInvNormEstandEstDes,
  calcularNEstDes,
  calcularNEstPro,
  calcularErrorEstandarEnvConfMediaZ,
  calcularTiempoOcupaFuturo as calcularMultiplicacion,
  calcularFactorCorreccionInvConfZMediaFinita,
  calcularErrorEstandarEnvConfZProporcion,
  calcularRaiz,
  calcularBinomialList,
  calcularBinomialTablePx,
  calcularBinomialIntervalos,
  calcularHiperGeometrica,
  calcularPoissonList,
  calcularPoisson,
  calcularPoissonIntervalos,
  calcularDistNormal,
  calcularDistNormalEstandar,
  calcularDistNormalInv,
  calcularPeriodo,
  calcularPorcentajeSuma,
} from '../services/index.js'

export default {
  data() {
    return {
      labelPosition: 'on-border',
      ingresosMixtos: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      periodosTasaMixta: [
        { tasa: null, pc: null, tiempo: 0, periodo: 1 },
        { tasa: null, pc: null, tiempo: 0, periodo: 1 },
        { tasa: null, pc: null, tiempo: 0, periodo: 1 },
        { tasa: null, pc: null, tiempo: 0, periodo: 1 },
        { tasa: null, pc: null, tiempo: 0, periodo: 1 },
      ],
      reglas: [
        { text: 'Téorica o exponencial', id: 1 },
        { text: 'Práctica o lineal', id: 2 },
      ],
      periodos: [
        { text: 'Años', id: 1, m: 1 },
        { text: 'Semestres', id: 2, m: 2 },
        { text: 'Cuatrimetres', id: 3, m: 3 },
        { text: 'Trimestres', id: 4, m: 4 },
        { text: 'Bimestres', id: 5, m: 6 },
        { text: 'Meses', id: 6, m: 12 },
        { text: 'Quincenas', id: 7, m: 24 },
        { text: 'Semanas', id: 8, m: 52 },
        { text: 'Días Exactos', id: 9, m: 365 },
        { text: 'Días Aproximados', id: 10, m: 360 },
      ],
      periodosC: [
        { text: 'Anual', id: 1, m: 1 },
        { text: 'Semestral', id: 2, m: 2 },
        { text: 'Cuatrimestral', id: 3, m: 3 },
        { text: 'Trimestral', id: 4, m: 4 },
        { text: 'Bimestral', id: 5, m: 6 },
        { text: 'Mensual', id: 6, m: 12 },
        { text: 'Quincenal', id: 7, m: 24 },
        { text: 'Semanal', id: 8, m: 52 },
        { text: 'Diario Exacto', id: 9, m: 365 },
        { text: 'Diario Aproximado', id: 10, m: 360 },
      ],
      tipos_interes: [
        { text: 'Simple Ordinario', id: 1 },
        { text: 'Exacto', id: 2 },
        { text: 'Bancario', id: 3 },
      ],
      colas: [
        { id: 1, text: 'Cola Derecha' },
        { id: 2, text: 'Cola Izquierda' },
        { id: 3, text: 'Dos Colas' },
      ],
      binomials: [
        { text: 'Exactamente x', id: 0, m: 0.387420489 },
        { text: 'Al menos x', id: 1, m: 0.387420489 },
        { text: 'x o más', id: 2, m: 0.387420489 },
        { text: 'A lo más x', id: 3, m: 0.387420489 },
        { text: 'No más de x', id: 4, m: 1 },
        { text: 'Menos de x', id: 5, m: 0.612579511 },
        { text: 'Más de x', id: 6, m: 0 },
        { text: 'A lo sumo x', id: 7, m: 1 },
        { text: 'A lo menos x', id: 8, m: 0.387420489 },
        { text: 'x o menos', id: 9, m: 1 },
        { text: 'Por lo menos x', id: 10, m: 0.387420489 },
        { text: 'Ninguno', id: 11, m: 1e-9 },
        { text: 'Todos', id: 12, m: 0.387420489 },
      ],
      lista: [0],
      datos: [0],
      listProb: [
        {
          x: null,
          fx: null,
          px: null,
          xpx: null,
          xu: null,
          xu2: null,
          xu2px: null,
        },
      ],
      dataBinom: [],
      dataHiperg: [],
      dataPoisson: [],

      nroP: 0,
      pc: 1,
      valorFuturo: 0,
      nivelConfianza: 0,
      media: 0,
      desviacionEst: 0,
      valorPresente: 0,
      n: 0,
      p: 0,
      N: 0,
      S: 0,
      px: 0,
      fx: 0,
      varianza: 0,
      periodoC: 1,
      periodoC2: 1,
      valorVencimiento2: 0,
      tasa2: 0,
      periodoN1: 0,
      periodoN2: 0,
      periodoN3: 0,
      periodo1: 1,
      periodo2: 1,
      periodo3: 1,
      tiempo2: 0,
      cantNeta2: 0,
      descuento2: 0,
      x: 0,
      binom: 0,
      i1: null,
      i2: null,
      binomName: null,
      binomValue: null,
      binom1: null,
      binom2: null,
      hiperg: null,
      mediaRes: 0,
      poi1: null,
      poi2: null,
      xi: 0,
      xs: 0,
      cola: 0,
      X: 0,
      muestra: 0,
      regla: 1,

      Z: null,
      errorEstandar: null,
      errorEstandar2: null,
      errorMuestral: null,
      factorCorreccion: null,
      limiteSuperior: null,
      limiteInferior: null,
      promedio: 0,
      t: null,
      gradoLibertad: null,

      valorz: null,
      prob: null,
      valorzi: null,
      valorzs: null,
      probai: null,
      probas: null,
      probT: null,

      res1: null,
      res2: null,
      res3: null,
      res4: null,
      res5: null,
      res6: null,
      res7: null,
      res8: null,
      res9: null,

      resPeriodosTasaMixta: [],
      resIngresosMixtos: [],
    }
  },
  methods: {
    async calcular() {
      this.blockCalcular = true
      this.res1 = this.periodosC.find((p) => p.id == this.pc).m
      this.res2 = this.i1 / this.res1

      for (let i in this.ingresosMixtos) {
        if (this.ingresosMixtos[i] != 0) {
          this.resIngresosMixtos.push(
            this.ingresosMixtos[i] *
              Math.pow(
                calcularPorcentajeSuma(1, this.res2),
                this.nroP - parseFloat(parseFloat(i) + 1)
              )
          )
        } else this.resIngresosMixtos.push(0)
      }

      this.res3 = this.resIngresosMixtos.reduce(
        (a, b) => parseFloat(a) + parseFloat(b)
      )
    },
    addListProb() {
      this.listProb.push({
        x: null,
        fx: null,
        px: null,
        xpx: null,
        xu: null,
        xu2: null,
        xu2px: null,
      })
    },
  },
}
</script>

<style scoped>
.space-card {
  margin: 0 10% 5% 10%;
}
</style>
