<template>
  <section
    class="hero is-fullheight"
    style="background-image: url('./img/fondo.png');"
  >
    <!-- Hero body -->
    <div class="hero-body">
      <div class="container">
        <div class="columns is-multiline is-centered">
          <div class="column is-narrow">
            <figure class="figure-container">
              <img src="img/formula.svg" class="logo" />
            </figure>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-one-third">
            <div class="sombra">
              <b-input
                v-model="username"
                placeholder=" Usuario"
                ref="username"
                size="is-large"
                @keyup.enter.native="login"
              ></b-input>
              <b-input
                v-model="pass"
                placeholder=" Contraseña"
                size="is-large"
                type="password"
                @keyup.enter.native="login"
                password-reveal
              ></b-input>
            </div>
            <div class="boton">
              <b-button
                @click="login"
                id="btn"
                size="is-large"
                class="is-tplanet is-uppercase is-size-6 has-text-weight-bold button-style"
                >Login</b-button
              >
            </div>
          </div>
        </div>
        <!-- footer -->
        <!-- <div class="foot">
          <div class="content has-text-centered is-size-6">
            <p>
              ¿No tienes cuenta?
              <u>
                <a @click="goResetPassword">Click here</a>
              </u>
            </p>
          </div>
        </div> -->
      </div>
    </div>
    <b-loading :is-full-page="isFullPage" :active.sync="isLoading"></b-loading>
  </section>
</template>

<script>
import { login as logIn, setCookies } from '../services/user'

export default {
  data() {
    return {
      username: null,
      pass: null,
      isLoading: false,
      isFullPage: true,
    }
  },
  mounted() {
    this.$refs.username.focus()

    //
    let b = document.getElementsByClassName('input')
    b.forEach((i) => i.setAttribute('step', '0.01'))
  },
  methods: {
    async login() {
      try {
        this.isLoading = true

        let { user, success, message } = await logIn(this.username, this.pass)

        this.isLoading = false

        if (success == 1) {
          setCookies(user)
          this.$buefy.toast.open({
            message,
            position: 'is-top',
            type: 'is-success',
          })
          this.$router.push('/main')
        } else
          this.$buefy.toast.open({
            message,
            position: 'is-top',
            type: 'is-danger',
          })
      } catch (error) {
        console.log(error)
        this.isLoading = false
        this.$buefy.toast.open({
          message: error,
          position: 'is-top',
          type: 'is-danger',
        })
      }
    },
  },
}
</script>

<style scoped>
section {
  font-family: 'Poppins', sans-serif;
  background-repeat: no-repeat;
  background-color: #f9f7f4;
  background-position: center;
  background-size: cover;
}

.figure-container {
  margin-bottom: 0px;
}

.logo {
  width: 10em;
}

.sombra {
  -webkit-box-shadow: 0px 0px 26px -8px rgba(102, 106, 115, 1);
  -moz-box-shadow: 0px 0px 26px -8px rgba(102, 106, 115, 1);
  box-shadow: 0px 0px 26px -8px rgba(102, 106, 115, 1);
}

.boton {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.button-style {
  padding: 25px 50px 25px 50px;
}

.foot {
  margin-top: 60px;
  margin-bottom: 0px;
}
</style>
