<template>
  <div>
    <!-- <Nav /> -->
    <div class="columns">
      <div class="column is-2">
        <!-- <aside class="menu">
          <div v-for="(item, index) in menu" :key="index">
            <p class="menu-label">
              {{ item.title }}
            </p>
            <ul class="menu-list" v-for="(child, i) in item.children" :key="i">
              <li>
                <a @click="go(child.name)">{{ child.title }}</a>
              </li>
            </ul>
          </div>
        </aside> -->
        <aside
          class="relative h-screen inline-flex flex-col justify-between items-center bg-white shadow p-6"
        >
          <!-- class="inline-flex flex-col space-y-2" -->
          <div class="div-menu">
            <b-menu-list label="Administración" v-if="isAdmin">
              <b-menu-item
                icon="user"
                icon-pack="fas"
                label="Usuarios"
                @click="$router.push(`/users`)"
              ></b-menu-item>
            </b-menu-list>

            <p class="menu-label">
              Formulas
            </p>
            <!-- <a
              v-for="(link, index) in nav"
              :key="index"
              class="flex items-center text-gray-600 py-2 cursor-pointer"
              :class="[
                [
                  selected == index
                    ? 'bg-indigo-100 text-indigo-500'
                    : 'hover:bg-gray-100',
                ],
                [isEnlarge ? 'pl-2 pr-6 rounded-lg' : 'px-2 rounded-full'],
              ]"
              @click="selected = index"
            >
              <span
                v-html="selected == index ? link.selectedIcon : link.icon"
                class="w-8 h-8 p-1"
                :class="{ 'mr-4': isEnlarge }"
              ></span>
              <span
                v-html="link.text"
                class="font-medium select-none"
                v-if="isEnlarge"
              ></span>
            </a> -->
            <a
              class="flex items-center py-2 cursor-pointer"
              v-for="(item, index) in menu"
              :key="index"
            >
              <b-dropdown aria-role="dialog" expanded>
                <template #trigger="{ active }">
                  <b-button
                    :label="item.title"
                    :type="selected == index ? 'is-primary' : 'is-light'"
                    :icon-right="active ? 'menu-up' : 'menu-down'"
                    expanded
                  />
                </template>

                <b-dropdown-item
                  aria-role="listitem"
                  v-for="(child, indexChild) in item.children"
                  :key="indexChild"
                  @click="go(child.name, index)"
                  >{{ child.title }}</b-dropdown-item
                >

                <!-- <b-dropdown-item aria-role="listitem">Action</b-dropdown-item>
                <b-dropdown-item aria-role="listitem"
                  >Another action</b-dropdown-item
                >
                <b-dropdown-item aria-role="listitem"
                  >Something else</b-dropdown-item
                > -->
              </b-dropdown>
            </a>
          </div>
          <div
            class="flex items-center w-full bg-gray-100 p-4 rounded-lg center"
          >
            <div class="">
              <h3 class="text-gray-900 font-semibold has-text-centered">
                {{ name }}
              </h3>
              <a class="button is-danger" @click="logout">
                Salir
              </a>
              <!-- <h4 class="text-sm text-gray-700 mt-1" v-html="user.role"></h4> -->
            </div>
          </div>
        </aside>
      </div>
      <div class="column is-10 content">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
import Menu from '../utils/menu'
import Nav from './Navbar'

//Services
import { removeAllCookies } from '../services/user'

export default {
  components: {
    Nav,
  },
  data() {
    return {
      menu: Menu,
      selected: null,
      isEnlarge: true,
      name: '',
      roles: [],
      isAdmin: false,
    }
  },
  created() {
    this.name = this.$cookies.get('name')
    this.roles = JSON.parse(this.$cookies.get('role') || [])
    this.filterMenu()

    if (this.roles.includes('admin')) this.isAdmin = true
  },
  mounted() {
    let b = document.getElementsByClassName('input')
    b.forEach((i) => i.setAttribute('step', '0.01'))
  },
  methods: {
    go(name, index) {
      this.selected = index
      this.$router.push(`/re/${name}`)
    },
    logout() {
      removeAllCookies()
      this.$router.go()
    },
    filterMenu() {
      if (!this.roles.includes('admin'))
        this.menu = this.menu.filter((m) => this.roles.includes(m.role))
    },
  },
}
</script>

<style scoped>
.content {
  margin-top: 3%;
}
.div-menu {
  overflow: auto;
  margin-bottom: 20%;
  padding: 0 20% 0 20%;
  height: 100%;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #aad8d3 #eeeeee;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #eeeeee;
}

*::-webkit-scrollbar-thumb {
  background-color: #aad8d3;
  border-radius: 20px;
  border: 3px solid #eeeeee;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
