<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img
          src="https://lh5.googleusercontent.com/proxy/BIrsyFEZx5xvrewMWIks0OUxt-UM65O6tX61smTqskADDnuUmB9VTF6HIoZHbWQlAkYkwjCtHZsgEmbeDAHOMhLSA4vhu_ywC5s=s0-d"
          width="60"
          height="28"
        />
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <!-- <a class="button is-primary">
              <strong>Sign up</strong>
            </a> -->
            <a class="button is-danger" @click="logout">
              Salir
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  methods: {
    logout() {
      this.$cookies.set('isLogin', false)
      this.$bus.emit('login')
    },
  },
}
</script>
