<template>
  <div>
    <div class="box space-card">
      <p class="title">
        Tasa Mixta - Valor Presente
      </p>
      <!-- <div class="columns">
        <div class="column is-4">
          <img src="img/distcont3.png" alt="" />
        </div>
        <div class="column is-4">
          <img src="img/distcont4.png" alt="" />
        </div>
      </div> -->
      <div class="columns">
        <div class="column">
          <div class="columns">
            <div class="column is-3">
              <b-field label="Valor Presente" :label-position="labelPosition">
                <b-input
                  type="number" step="0.01" 
                  placeholder="Escribe un valor"
                  v-model="valorPresente"
                >
                </b-input>
              </b-field>
            </div>
            <div class="column is-3">
              <b-field
                label="Periodo capitalizable (m)"
                :label-position="labelPosition"
              >
                <b-select
                  placeholder="Selecciona un tipo"
                  expanded
                  v-model="pc"
                >
                  <option
                    :value="item.id"
                    v-for="(item, index) in periodosC"
                    :key="index"
                    >{{ item.text }}</option
                  >
                </b-select>
              </b-field>
            </div>
          </div>

          <div v-for="(p, index) in periodosTasaMixta" :key="index">
            <p class="is-5">Periodo Nro. {{ index + 1 }}</p>

            <div class="columns">
              <div class="column is-3">
                <b-field label="Tasa Nominal" :label-position="labelPosition">
                  <b-input
                    type="number" step="0.01" 
                    placeholder="Escribe un valor"
                    v-model="periodosTasaMixta[index].tasa"
                  >
                  </b-input>
                </b-field>
              </div>
              <div class="column is-3">
                <b-field
                  label="Periodo capitalizable (m)"
                  :label-position="labelPosition"
                >
                  <b-select
                    placeholder="Selecciona un tipo"
                    expanded
                    v-model="periodosTasaMixta[index].pc"
                  >
                    <option
                      :value="item.id"
                      v-for="(item, index) in periodosC"
                      :key="index"
                      >{{ item.text }}</option
                    >
                  </b-select>
                </b-field>
              </div>
              <div class="column is-6">
                <b-field label="Tiempo (t)" :label-position="labelPosition">
                  <b-input
                    type="number" step="0.01" 
                    placeholder="9"
                    v-model="periodosTasaMixta[index].tiempo"
                  >
                  </b-input>
                  <b-select
                    placeholder="Selecciona un tipo"
                    expanded
                    v-model="periodosTasaMixta[index].periodo"
                  >
                    <option
                      :value="item.id"
                      v-for="(item, index) in periodos"
                      :key="index"
                      >{{ item.text }}</option
                    >
                  </b-select>
                </b-field>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column is-12">
              <b-button
                v-if="!blockCalcular"
                type="is-primary"
                expanded
                @click="calcular"
                >CALCULAR</b-button
              >
              <b-button v-else type="is-danger" expanded @click="reset"
                >RESET</b-button
              >
            </div>
          </div>

          <div>
            <hr />
            <div v-for="(r, index) in resPeriodosTasaMixta" :key="index">
              <p class="title is-5">Periodo Nro. {{ index + 1 }}</p>
              <p class="title is-6">Periodo capitalizable (m): {{ r.pc }}</p>
              <p class="title is-6">Tiempo (años): {{ r.tiempo }}</p>
              <p class="title is-6">Factor: {{ r.factor }}</p>
              <hr />
              <hr />
            </div>
            <hr />
            <p class="title is-5">periodo capitalizable (m): {{ res1 }}</p>
            <p class="title is-5">Tiempo total: {{ res2 }}</p>
            <p class="title is-5">Valor futuro: {{ res3 | round4 }}</p>
            <p class="title is-5">Tasa de interes: {{ res4 | round }} %</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  calcularDivision,
  calcularInteresesDos as calcularResta,
  calcularInvT,
  calcularInvNormEstand,
  calcularZCalculado,
  calcularPromedioArray,
  calcularDesviacionMuestral,
  calcularVarianzaMedias,
  calcularZCalculadoDosMedias,
  calcularPromedioArrayJson,
  calcularVarianzaConjunta,
  calcularTCalculadoDosMedias,
  calcularSuma,
  calcularGradoLibertadDif,
  calcularTCalculadoDosMediasDif,
  calcularInvNormEstandEstDes,
  calcularNEstDes,
  calcularNEstPro,
  calcularErrorEstandarEnvConfMediaZ,
  calcularTiempoOcupaFuturo as calcularMultiplicacion,
  calcularFactorCorreccionInvConfZMediaFinita,
  calcularErrorEstandarEnvConfZProporcion,
  calcularRaiz,
  calcularBinomialList,
  calcularBinomialTablePx,
  calcularBinomialIntervalos,
  calcularHiperGeometrica,
  calcularPoissonList,
  calcularPoisson,
  calcularPoissonIntervalos,
  calcularDistNormal,
  calcularDistNormalEstandar,
  calcularDistNormalInv,
  calcularPeriodo,
  calcularPorcentajeSuma,
} from '../services/index.js'

export default {
  data() {
    return {
      labelPosition: 'on-border',
      periodosTasaMixta: [
        { tasa: null, pc: null, tiempo: 0, periodo: 1 },
        { tasa: null, pc: null, tiempo: 0, periodo: 1 },
        { tasa: null, pc: null, tiempo: 0, periodo: 1 },
        { tasa: null, pc: null, tiempo: 0, periodo: 1 },
        { tasa: null, pc: null, tiempo: 0, periodo: 1 },
      ],
      reglas: [
        { text: 'Téorica o exponencial', id: 1 },
        { text: 'Práctica o lineal', id: 2 },
      ],
      periodos: [
        { text: 'Años', id: 1, m: 1 },
        { text: 'Semestres', id: 2, m: 2 },
        { text: 'Cuatrimetres', id: 3, m: 3 },
        { text: 'Trimestres', id: 4, m: 4 },
        { text: 'Bimestres', id: 5, m: 6 },
        { text: 'Meses', id: 6, m: 12 },
        { text: 'Quincenas', id: 7, m: 24 },
        { text: 'Semanas', id: 8, m: 52 },
        { text: 'Días Exactos', id: 9, m: 365 },
        { text: 'Días Aproximados', id: 10, m: 360 },
      ],
      periodosC: [
        { text: 'Anual', id: 1, m: 1 },
        { text: 'Semestral', id: 2, m: 2 },
        { text: 'Cuatrimestral', id: 3, m: 3 },
        { text: 'Trimestral', id: 4, m: 4 },
        { text: 'Bimestral', id: 5, m: 6 },
        { text: 'Mensual', id: 6, m: 12 },
        { text: 'Quincenal', id: 7, m: 24 },
        { text: 'Semanal', id: 8, m: 52 },
        { text: 'Diario Exacto', id: 9, m: 365 },
        { text: 'Diario Aproximado', id: 10, m: 360 },
      ],
      tipos_interes: [
        { text: 'Simple Ordinario', id: 1 },
        { text: 'Exacto', id: 2 },
        { text: 'Bancario', id: 3 },
      ],
      colas: [
        { id: 1, text: 'Cola Derecha' },
        { id: 2, text: 'Cola Izquierda' },
        { id: 3, text: 'Dos Colas' },
      ],
      binomials: [
        { text: 'Exactamente x', id: 0, m: 0.387420489 },
        { text: 'Al menos x', id: 1, m: 0.387420489 },
        { text: 'x o más', id: 2, m: 0.387420489 },
        { text: 'A lo más x', id: 3, m: 0.387420489 },
        { text: 'No más de x', id: 4, m: 1 },
        { text: 'Menos de x', id: 5, m: 0.612579511 },
        { text: 'Más de x', id: 6, m: 0 },
        { text: 'A lo sumo x', id: 7, m: 1 },
        { text: 'A lo menos x', id: 8, m: 0.387420489 },
        { text: 'x o menos', id: 9, m: 1 },
        { text: 'Por lo menos x', id: 10, m: 0.387420489 },
        { text: 'Ninguno', id: 11, m: 1e-9 },
        { text: 'Todos', id: 12, m: 0.387420489 },
      ],
      lista: [0],
      datos: [0],
      listProb: [
        {
          x: null,
          fx: null,
          px: null,
          xpx: null,
          xu: null,
          xu2: null,
          xu2px: null,
        },
      ],
      dataBinom: [],
      dataHiperg: [],
      dataPoisson: [],

      pc: 1,
      valorFuturo: 0,
      nivelConfianza: 0,
      media: 0,
      desviacionEst: 0,
      valorPresente: 0,
      n: 0,
      p: 0,
      N: 0,
      S: 0,
      px: 0,
      fx: 0,
      varianza: 0,
      periodoC: 1,
      periodoC2: 1,
      valorVencimiento2: 0,
      tasa2: 0,
      periodoN1: 0,
      periodoN2: 0,
      periodoN3: 0,
      periodo1: 1,
      periodo2: 1,
      periodo3: 1,
      tiempo2: 0,
      cantNeta2: 0,
      descuento2: 0,
      x: 0,
      binom: 0,
      i1: null,
      i2: null,
      binomName: null,
      binomValue: null,
      binom1: null,
      binom2: null,
      hiperg: null,
      mediaRes: 0,
      poi1: null,
      poi2: null,
      xi: 0,
      xs: 0,
      cola: 0,
      X: 0,
      muestra: 0,
      regla: 1,

      Z: null,
      errorEstandar: null,
      errorEstandar2: null,
      errorMuestral: null,
      factorCorreccion: null,
      limiteSuperior: null,
      limiteInferior: null,
      promedio: 0,
      t: null,
      gradoLibertad: null,

      valorz: null,
      prob: null,
      valorzi: null,
      valorzs: null,
      probai: null,
      probas: null,
      probT: null,

      res1: null,
      res2: null,
      res3: null,
      res4: null,
      res5: null,
      res6: null,
      res7: null,
      res8: null,
      res9: null,

      resPeriodosTasaMixta: [],
    }
  },
  methods: {
    async calcular() {
      this.blockCalcular = true
      this.res2 = 0
      this.res3 = 1
      for (let pe of this.periodosTasaMixta) {
        if (pe.tasa) {
          let pc = this.periodosC.find((p) => p.id == pe.pc).m
          let tiempo = calcularPeriodo(
            this.periodos.find((p) => p.id == pe.periodo).m,
            pe.tiempo
          )

          let factor = Math.pow(
            calcularPorcentajeSuma(1, pe.tasa / pc),
            tiempo * pc
          )

          this.resPeriodosTasaMixta.push({
            pc,
            tiempo,
            factor,
          })
          this.res2 = this.res2 + tiempo
          this.res3 *= factor
        } else
          this.resPeriodosTasaMixta.push({
            pc: 0,
            tiempo: 0,
            factor: 1,
          })
      }

      this.res1 = this.periodosC.find((p) => p.id == this.pc).m
      this.res3 *= this.valorPresente
      this.res4 =
        Math.pow(this.res3 / this.valorPresente, 1 / (this.res1 * this.res2)) -
        1
      this.res4 *= 100
    },
    addListProb() {
      this.listProb.push({
        x: null,
        fx: null,
        px: null,
        xpx: null,
        xu: null,
        xu2: null,
        xu2px: null,
      })
    },
  },
}
</script>

<style scoped>
.space-card {
  margin: 0 10% 5% 10%;
}
</style>
