<template>
  <div class="space-card">
    <p class="title is-4">Usuarios</p>
    <b-button
      type="is-success"
      icon-left="user"
      icon-pack="fas"
      @click="isComponentModalActive = true"
      >Crear Usuario</b-button
    >
    <hr />
    <b-table
      :data="isEmpty ? [] : data"
      :bordered="isBordered"
      :striped="isStriped"
      :narrowed="isNarrowed"
      :hoverable="isHoverable"
      :loading="isLoading"
      :focusable="isFocusable"
      :mobile-cards="hasMobileCards"
      :paginated="isPaginated"
      :per-page="perPage"
      :current-page.sync="currentPage"
      :pagination-simple="isPaginationSimple"
      :pagination-position="paginationPosition"
      :default-sort-direction="defaultSortDirection"
      :pagination-rounded="isPaginationRounded"
      :sort-icon="sortIcon"
      :sort-icon-size="sortIconSize"
      default-sort="user.first_name"
      aria-next-label="Next page"
      aria-previous-label="Previous page"
      aria-page-label="Page"
      aria-current-label="Current page"
    >
      <b-table-column field="name" label="Nombre" v-slot="props">
        {{ props.row.name }}
      </b-table-column>

      <b-table-column field="lastname" label="Apellido" v-slot="props">
        {{
          props.row.lastname == '' || !props.row.lastname
            ? 'n/a'
            : props.row.lastname
        }}
      </b-table-column>

      <b-table-column field="email" label="Email" v-slot="props">
        {{ props.row.email }}
      </b-table-column>

      <b-table-column field="active" label="Estado" v-slot="props">
        <b-tag v-if="props.row.active" type="is-success">Activo</b-tag>
        <b-tag v-else type="is-danger">Inactivo</b-tag>
      </b-table-column>

      <b-table-column
        field="createdAt"
        label="Fecha de creación"
        v-slot="props"
      >
        <b-tag type="is-info">{{
          new Date(props.row.createdAt).toLocaleDateString('ve-ES', {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
          })
        }}</b-tag>
      </b-table-column>

      <b-table-column field="role" label="Roles" v-slot="props">
        <b-button
          type="is-primary"
          size="is-small"
          rounded
          outlined
          @click="showRoles(props.row.role)"
          >Mostrar Roles</b-button
        >
      </b-table-column>

      <b-table-column label="Eventos" v-slot="props">
        <div>
          <b-button
            type="is-info"
            size="is-small"
            icon-right="edit"
            icon-pack="fas"
            class="events"
            @click="editUser(props.row)"
          />
          <b-button
            type="is-danger"
            size="is-small"
            icon-right="trash-alt"
            icon-pack="fas"
            class="events"
            @click="deleteUser(props.row._id)"
          />
        </div>
      </b-table-column>

      <template #empty>
        <div class="has-text-centered">No hay usuarios</div>
      </template>
    </b-table>

    <b-modal
      v-model="isComponentModalActive"
      has-modal-card
      trap-focus
      aria-role="dialog"
      aria-modal
    >
      <template #default="props">
        <users-details :userE="userE" @close="props.close"></users-details>
      </template>
    </b-modal>
  </div>
</template>

<script>
import { listUsers, delUser } from '../services/user'
import UsersDetails from './UsersDetails'

export default {
  components: {
    UsersDetails,
  },
  data() {
    return {
      isComponentModalActive: false,
      data: [],
      isEmpty: false,
      isBordered: false,
      isStriped: true,
      isNarrowed: true,
      isHoverable: false,
      isFocusable: false,
      isLoading: false,
      hasMobileCards: true,
      isPaginated: true,
      isPaginationSimple: false,
      isPaginationRounded: false,
      paginationPosition: 'bottom',
      defaultSortDirection: 'asc',
      sortIcon: 'arrow-up',
      sortIconSize: 'is-small',
      currentPage: 1,
      perPage: 5,
      userE: null,
    }
  },
  created() {
    this.list()

    this.$bus.on('refreshUsers', () => this.list())
  },
  methods: {
    showRoles(list = []) {
      let message = ``
      message += `<ul>`
      for (let l of list) {
        message += `<li><strong>${l}</strong></li>`
      }
      message += `</ul>`

      this.$buefy.dialog.alert({
        title: 'Roles',
        message,
        type: 'is-primary',
        hasIcon: true,
        icon: 'users',
        iconPack: 'fas',
        ariaRole: 'alertdialog',
        ariaModal: true,
      })
    },
    editUser(user) {
      this.$buefy.dialog.confirm({
        title: 'Editar Usuario',
        message: '¿Desea editar este usuario?',
        confirmText: 'SI',
        type: 'is-info',
        hasIcon: true,
        onConfirm: async () => {
          this.userE = user
          this.isComponentModalActive = true
        },
      })
    },
    async deleteUser(id) {
      try {
        this.$buefy.dialog.confirm({
          title: 'Eliminar Usuario',
          message: '¿Desea eliminar este usuario?',
          confirmText: 'SI',
          type: 'is-danger',
          hasIcon: true,
          onConfirm: async () => {
            this.isLoading = true

            await delUser(id.toString())

            await this.list()

            this.isLoading = false

            if (success == 1) {
              this.$buefy.toast.open({
                message,
                position: 'is-top',
                type: 'is-success',
              })
            } else
              this.$buefy.toast.open({
                message,
                position: 'is-top',
                type: 'is-danger',
              })
          },
        })
      } catch (error) {
        console.log(error)
        this.isLoading = false
        this.$buefy.toast.open({
          message: error,
          position: 'is-top',
          type: 'is-danger',
        })
      }
    },
    async list() {
      try {
        this.isLoading = true

        let { users, success, message } = await listUsers()

        this.isLoading = false

        if (success == 1) {
          // this.$buefy.toast.open({
          //   message,
          //   position: 'is-top',
          //   type: 'is-success',
          // })
          this.data = users
        } else
          this.$buefy.toast.open({
            message,
            position: 'is-top',
            type: 'is-danger',
          })
      } catch (error) {
        console.log(error)
        this.isLoading = false
        this.$buefy.toast.open({
          message: error,
          position: 'is-top',
          type: 'is-danger',
        })
      }
    },
  },
}
</script>

<style scoped>
.space-card {
  margin: 0 10% 5% 10%;
}

.events {
  margin: 3px;
}
</style>
