<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">{{ userE ? 'Editar' : 'Crear' }} Usuario</p>
    </header>
    <div class="card-content">
      <div class="content">
        <div class="columns">
          <div class="column is-6">
            <b-field label="Nombre">
              <b-input v-model="user.name"></b-input>
            </b-field>
          </div>
          <div class="column is-6">
            <b-field label="Apellido">
              <b-input v-model="user.lastname"></b-input>
            </b-field>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <b-field label="Username">
              <b-input v-model="user.username"></b-input>
            </b-field>
          </div>
          <div class="column is-6">
            <b-field label="Email">
              <b-input v-model="user.email"></b-input>
            </b-field>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <b-field label="Contraseña">
              <b-input
                type="password"
                password-reveal
                v-model="user.password"
              ></b-input>
            </b-field>
          </div>
          <div class="column is-6">
            <b-field label="Estado">
              <b-switch v-model="user.active"> </b-switch>
            </b-field>
          </div>
        </div>
        <div class="columns">
          <div class="column is-12">
            <b-field label="Roles">
              <div class="block">
                <b-checkbox v-model="user.role" native-value="admin">
                  Administrador
                </b-checkbox>
                <div v-if="!user.role.includes('admin')">
                  <b-checkbox
                    v-model="user.role"
                    :native-value="m.role"
                    v-for="(m, index) in menu"
                    :key="index"
                  >
                    {{ m.title }}
                  </b-checkbox>
                </div>
              </div>
            </b-field>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a @click="$emit('close')" class="card-footer-item">Cancelar</a>
      <a @click="edit()" v-if="userE" class="card-footer-item">Editar</a>
      <a @click="create()" v-else class="card-footer-item">Crear</a>
    </footer>
  </div>
</template>

<script>
import Menu from '../utils/menu'
import { createUser, getUser, editUser } from '../services/user'

export default {
  props: ['userE'],
  data() {
    return {
      isLoading: false,
      menu: Menu,
      userId: null,
      user: {
        name: '',
        lastname: '',
        email: '',
        role: [],
        username: '',
        password: '',
        active: true,
      },
    }
  },
  created() {
    if (this.userE) {
      this.user.name = this.userE.name
      this.user.lastname = this.userE.lastname
      this.user.email = this.userE.email
      this.user.role = this.userE.role
      this.user.username = this.userE.username
      this.user.active = this.userE.active
      this.userId = this.userE._id.toString()
    }
  },
  methods: {
    async create() {
      try {
        this.isLoading = true

        let { user, success, message } = await createUser(this.user)

        this.isLoading = false

        if (success == 1) {
          this.$buefy.toast.open({
            message,
            position: 'is-top',
            type: 'is-success',
          })
          this.$emit('close')
          this.$bus.emit('refreshUsers')
        } else
          this.$buefy.toast.open({
            message,
            position: 'is-top',
            type: 'is-danger',
          })
      } catch (error) {
        console.log(error)
        this.isLoading = false
        this.$buefy.toast.open({
          message: error,
          position: 'is-top',
          type: 'is-danger',
        })
      }
    },
    async edit() {
      try {
        this.isLoading = true

        let { user, success, message } = await editUser(this.userId, this.user)

        this.isLoading = false

        if (success == 1) {
          this.$buefy.toast.open({
            message,
            position: 'is-top',
            type: 'is-success',
          })
          this.$emit('close')
          this.$bus.emit('refreshUsers')
        } else
          this.$buefy.toast.open({
            message,
            position: 'is-top',
            type: 'is-danger',
          })
      } catch (error) {
        console.log(error)
        this.isLoading = false
        this.$buefy.toast.open({
          message: error,
          position: 'is-top',
          type: 'is-danger',
        })
      }
    },
  },
}
</script>

<style scoped>
.card {
  width: 500px;
}
</style>
