<template>
  <section class="page_404">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 center">
          <div class="col-sm-10 col-sm-offset-1  text-center">
            <img
              src="img/undraw_Reading_re_29f8.svg"
              alt="Wait"
              class="img-notfound"
            />
            <!-- <div class="four_zero_four_bg">
              <h1 class="text-center ">404</h1>
            </div> -->

            <div class="contant_box_404">
              <!-- <h3 class="h2">
                ¡UPS!
              </h3> -->

              <p>Elije tu formula preferida</p>

              <!-- <a class="button is-success">
                Volver
              </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped>

.img-notfound {
  width: 300px;
  margin-bottom: 30%;
}

.page_404 {
  padding: 40px 0;
  background: #fff;
}

.four_zero_four_bg {
  background-image: url('/img/undraw_access_denied_re_awnf.svg');
  height: 200px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
